.tracking-con {
  margin-top: 10rem;
  height: 400px;
  overflow-y: scroll;
}

.tracking-con::-webkit-scrollbar {
  display: none;
}

.tracking-con2 {
  margin-top: 9.4rem;
  margin-left: 15rem;
  height: 400px;
  overflow-y: scroll;
}

.tracking-con2::-webkit-scrollbar {
  display: none;
}

.tracking-form {
  margin-left: 15rem;
}

.tracking-input {
  height: 40px;
  width: 300px;
  border-radius: 2px;
  border-style: solid;
  border-color: #ffb8bf;
  background-color: #231f20;
  outline: none;
  padding-left: 10px;
  color: white;
}

.tracking-input2 {
  height: 40px;
  width: 300px;
  border-radius: 2px;
  border-style: solid;
  border-color: #ffb8bf;
  background-color: #231f20;
  outline: none;
  color: white;
  text-decoration: none;
  margin-top: 10px;

  padding-left: 10px;
  padding-top: 10px;
  color: white;
}

.tracking-btn {
  height: 40px;
  width: 100px;
  border-style: solid;
  border-color: #ffb8bf;
  background-color: #ffb8bf;
  font-weight: bold;
}

.tracking-btn:hover {
  cursor: pointer;
  color: white;
  transition: all 0.4s ease-out;
}

.tracking-display {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #231f20;
  margin: 10px auto;
  margin-left: 15rem;
  width: 400px;
  height: 40px;

  float: left;
  border-radius: 2px;
  border-style: solid;
  border-color: #ffb8bf;
  outline: none;

  padding-left: 10px;
  color: white;
}

.icons {
  display: flex;
  align-items: center;
  font-size: 20px;
  cursor: pointer;
  color: #ffb8bf;
  padding-right: 10px;
}

.delete-icon {
  float: right;
  font-size: 20px;
  cursor: pointer;
  color: #ffb8bf;
  padding-right: 10px;
}

.edit-icon {
  margin-right: 5px;
}

.form-label {
  display: inline-block;
  font-size: inherit;
  margin-bottom: 6px;
  color: white;
}

.form-inputs {
  margin-top: 20px;
}

.form-display {
  display: block;
  padding-left: 10px;
  padding-top: 10px;
  border-radius: 2px;
  height: 40px;
  width: 400px;

  outline: none;
  background-color: #231f20;
  border-style: solid;
  border-color: #ffb8bf;

  color: white;
  font-family: arial;
  font-size: 13px;
  font-weight: bold;
}

.details-content {
  margin-left: 14rem;
  margin-top: 8rem;
}
