@import url("https://fonts.googleapis.com/css2?family=Mochiy+Pop+P+One&display=swap");

.home,
.publish,
.myAccount {
  background: linear-gradient(to top left, #231f20, black);
  height: 89.3vh;
  display: flex;
}

.login {
  background: url("../image/LoginCover.jpg");
  background-color: #231f20;
}

.pageTitle {
  font-size: 1.5rem;
  font-family: "Mochiy Pop P One", sans-serif;
  color: #ffb8bf;
  position: absolute;
  left: 240px;
  top: 20px;
  font-weight: 900;
  z-index: 3;
}

.smallHeading {
  font-size: 1.5rem;
  font-family: "Mochiy Pop P One", sans-serif;
  color: #ffb8bf;
  position: absolute;
  left: 255px;
  top: 105px;
  font-weight: 900;
  background-color: black;
  z-index: 1;
}

.bigHeading {
  font-size: 2.5rem;
  font-family: "Mochiy Pop P One", sans-serif;
  color: #ffb8bf;
  position: absolute;
  left: 250px;
  top: 130px;
  font-weight: 900;
  z-index: 1;
}

.bigHeading2 {
  font-size: 2.5rem;
  font-family: "Mochiy Pop P One", sans-serif;
  color: #ffb8bf;
  position: absolute;
  left: 920px;
  top: 130px;
  font-weight: 900;
  z-index: 1;
}

.logo {
  height: 100px;
  width: 100px;
  position: absolute;
  right: 25px;
  top: -4px;
  filter: brightness(0) invert(1);
}

.loading {
  background: linear-gradient(to top left, #231f20, black);
  height: 100vh;
  color: #ffb8bf;
  padding-top: 300px;
  padding-left: 700px;

  font-family: "Mochiy Pop P One", sans-serif;
  font-size: 1.5rem;
}
