@import url("https://fonts.googleapis.com/css2?family=Mochiy+Pop+P+One&display=swap");

.logout-btn {
  width: 12rem;
  height: 3rem;
  position: absolute;
  margin-top: 5.2rem;
  margin-left: 3px;
  border-radius: 4px;
  background-color: #ffb8bf;
  border: none;
  color: black;
  font-size: 1rem;
}

.logout-btn:hover {
  cursor: pointer;
  color: white;
  transition: all 0.4s ease-out;
}

.logout-con {
  width: 225px;
  height: 150px;
  margin-left: 53px;
  margin-top: 30.8rem;
  padding-left: 10px;
  margin-bottom: 1rem;
  border-radius: 2px;
  border: solid;
  border-color: #ffb8bf;
}

.login-con {
  height: 745px;
}

.login-btn {
  width: 20rem;
  height: 5rem;
  position: absolute;
  margin-top: 400px;
  margin-left: 220px;
  border-radius: 4px;
  background-color: #ffb8bf;
  border: none;
  color: black;
  font-size: 1.5rem;
}

.login-btn:hover {
  cursor: pointer;
  color: white;
  transition: all 0.4s ease-out;
}

.bigHeading3 {
  font-size: 2.5rem;
  font-family: "Mochiy Pop P One", sans-serif;
  color: #ffb8bf;
  position: absolute;
  left: 100px;
  top: 230px;
  font-weight: 900;
  z-index: 1;
}

.bigHeading4 {
  font-size: 2.5rem;
  font-family: "Mochiy Pop P One", sans-serif;
  color: #ffb8bf;
  position: absolute;
  left: 140px;
  top: 290px;
  font-weight: 900;
  z-index: 1;
}
