.form {
  position: absolute;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 1rem;
  margin-left: 7rem;
  margin-top: 10rem;
  width: 45rem;
  height: 25rem;
  background-image: linear-gradient(black);
}

.form-inputs {
  margin-right: 3rem;
}

.form-label {
  display: inline-block;
  font-size: inherit;
  margin-bottom: 6px;
  color: white;
}

.form-input {
  display: block;
  padding-left: 10px;
  border-radius: 2px;
  height: 40px;
  width: 600px;
  color: white;
  outline: none;
  background-color: #231f20;
  border-style: solid;
  border-color: #ffb8bf;
}

.input-btn {
  width: 12rem;
  height: 3rem;
  position: absolute;
  margin-top: 420px;
  margin-left: 35rem;
  border-radius: 4px;
  background-color: #ffb8bf;
  border: none;
  color: black;
  font-size: 1rem;
}

.input-btn:hover {
  cursor: pointer;
  color: white;
  transition: all 0.4s ease-out;
}
