.form {
  position: absolute;
  margin-left: 12rem;
  margin-top: 8rem;
  width: 45rem;
  height: 30rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-image: linear-gradient(black);
}

.form-inputs {
  margin-bottom: 0.5rem;
  width: 80%;
}

.form-label {
  display: inline-block;
  font-size: 17px;
  margin-bottom: 6px;
  color: white;
}

.form-input {
  display: block;
  padding-left: 10px;
  border-radius: 2px;
  height: 40px;
  width: 100%;
  border: none;
  color: white;
  outline: none;
  background-color: #231f20;
  border-style: solid;
  border-color: #ffb8bf;
}

.form-input-btn {
  width: 15rem;
  height: 3rem;
  margin-top: 10px;
  border-radius: 4px;
  background-color: #ffb8bf;
  border: none;
  color: black;
  font-size: 1rem;
}

.form-input-btn:hover {
  cursor: pointer;
  color: white;
  transition: all 0.4s ease-out;
}
